@charset "utf-8";
/*  모바일용(=기본) CSS  */
/* ***************** */
/*광고/파트너쉽*/
#wrap #ad{margin: 24px 0; overflow: hidden; box-shadow: 0px 0px 5px rgba(122, 122, 122, 1); border-radius: 5px;}
#wrap #ad img{width: 100%;}
#wrap #partnership{padding:1.5rem 0;width:100%; min-height:96px; border-top:2px solid #ebeef2; border-bottom:2px solid #ebeef2; text-align:center; background:#f3f5f7;}
/*ul 세로 정렬하기*/
#wrap #partnership .blank{
display:inline-block;
vertical-align:middle;
width:0;height:80px;
overflow:hidden;
background:#f00;
}
#wrap #partnership ul{display:inline-block;vertical-align:middle;}
#wrap #partnership ul li{position:relative;float:left; margin-left:0.5rem;text-align:center;}
#wrap #partnership ul li:first-child{margin-left:0;}
#wrap #partnership ul li a{
display:inline-block;
border-radius:3rem;
width:6rem; 
height:6rem; 
line-height:1rem;
text-align:center;
color:#fff;
}
#wrap #partnership ul li a.rank{background:#62b5b9;}
#wrap #partnership ul li a.fund{background:#3b6489;}
#wrap #partnership ul li a.ad{background:#e4777e;}
#wrap #partnership ul li:hover a.rank,
#wrap #partnership ul li a.rank:focus,
#wrap #partnership ul li a.rank:active{background:#31a0a5;}
#wrap #partnership ul li:hover a.fund,
#wrap #partnership ul li a.fund:focus,
#wrap #partnership ul li a.fund:active{background:#2b3e4f;}
#wrap #partnership ul li:hover a.ad,
#wrap #partnership ul li a.ad:focus,
#wrap #partnership ul li a.ad:active{background:#d0555d;}
#wrap #partnership ul li a span{text-align:center;}
#wrap #partnership ul li a span.title{font-size:1.5rem;}
#wrap #partnership ul li a span.desc{position:absolute;left:50%;margin-left:-3rem;top:3.2rem;font-size:1rem;width:6rem;}
/* 메인  페이지 CSS */
/*슬라이드 영역*/
#slide{
overflow:hidden;
box-sizing:border-box;
width:100%;
margin: 50px auto 0;
box-shadow: 0 0 2px rgba(122,122,122,0.5);
background: #fff;
}
.bx-viewport, .bx-wrapper img{
min-height:200px;
}
.bx-wrapper .bx-caption span{
left: 50%;
margin-left: -24rem;
padding: 0 2rem 0 2rem;
width: 48rem;
font-weight:bold;
font-size: 1.4rem;
bottom: 7rem;
line-height:1.2em;
text-shadow: 1px 1px rgba(0,0,0,0.5);
}
.btn-slide{overflow: hidden; 
position:absolute; 
display:inline-block; 
z-index:90; 
bottom:1.6rem;
left:50%;
margin-left:-5rem;
border:none;
border-radius:5px; 
width:10rem; 
height: 3rem; 
text-align:center; 
font-size: 0.8rem; 
background:#62b5b9; 
color:#fff;
cursor:pointer;
}
.btn-slide:focus, 
.btn-slide:hover, 
.btn-slide:active{background: #31a0a5; color:#fff;}

/*메인 뉴스영역*/
.wrap-ratio{width:100%;overflow:hidden;}
.ratio-2-1-2, 
.ratio-2-1-1{box-sizing: border-box;display:inline-block;width:100%;overflow:hidden;}
.wrap-ratio .title{padding:1rem; border-bottom:1px solid #efedec; color:#000;}
.wrap-ratio .channel .title{background:#d7dee6;color:#000;}
.wrap-ratio .cont-area{overflow:hidden; padding:0 0 1rem;box-sizing:border-box;box-shadow:0px 0px 5px rgba(122,122,122,0.5);border-radius:5px;background:#fff; }
.wrap-ratio .cont-area h4.match-channel{background:#d7dee6; padding:1.5626rem 1rem;}
.multimedia-wrap{width:100% !important;}
.wrap-ratio .how-to-use{box-sizing:border-box; box-shadow: 0px 0px 5px rgba(122,122,122,0.5);border-radius:5px; padding-bottom:1rem;overflow:hidden; background:#fff;}
.wrap-ratio .faq-list{padding:0.5rem 1rem 1rem 1rem;}
.channel{text-align: center;}
.channel .channel-list li, 
.wrap-ratio .faq-list li{padding: 1rem 0 0 0 ;}
.wrap-ratio .faq-list li{padding-bottom:1rem;border-top:1px solid #fff;border-bottom:1px solid #fff; width:100%; text-align:left;float:left; }
.channel .channel-list li{display: inline-block;width: 10%;}
.channel .channel-list li a,
.wrap-ratio .faq-list li a{display:inline-block; min-height:13px;}
.channel .channel-list li a{text-indent:-9999px;}
.channel .channel-list li a{padding-left:16px;}
.wrap-ratio .faq-list li a{font-size:14px;}
.channel .channel-list li a.icon-facebook{background-image:url(/images/p/icon-facebook.png); background-position: center center; background-repeat: no-repeat;}
.channel .channel-list li a.icon-twitter{background-image:url(/images/p/icon-twitter.png); background-position: center center; background-repeat: no-repeat;}
.channel .channel-list li a.icon-google{background-image:url(/images/p/icon-google.png); background-position: center center; background-repeat: no-repeat;}
.channel .channel-list li a.icon-naver{background-image:url(/images/p/icon-naver.png); background-position: center center; background-repeat: no-repeat;}
.channel .channel-list li a.icon-kakao{background-image:url(/images/p/icon-kakao.png); background-position: center center; background-repeat: no-repeat;}
.channel .channel-list li a.icon-weibo{background-image:url(/images/p/icon-weibo.png); background-position: center center; background-repeat: no-repeat;}
.channel .channel-list li.on a, .wrap-ratio .faq-list li.on a,
.channel .channel-list li:hover a, .wrap-ratio .faq-list li:hover a
.channel .channel-list li:active a, .wrap-ratio .faq-list li:active a
.channel .channel-list li:focus a, .wrap-ratio .faq-list li:focus a
{color:#000;}
.wrap-ratio .faq-list li.on, 
.wrap-ratio .faq-list li:hover,
.wrap-ratio .faq-list li:active,
.wrap-ratio .faq-list li:focus{border-top:1px solid #000;border-bottom:1px solid #000;}
.channel .channel-list li.on a.icon-facebook, 
.channel .channel-list li:hover a.icon-facebook,
.channel .channel-list li:active a.icon-facebook,
.channel .channel-list li:focus a.icon-facebook{background-image:url(/images/p/icon-facebook-on.png)}
.channel .channel-list li.on a.icon-twitter,
.channel .channel-list:hover a.icon-twitter,
.channel .channel-list:active a.icon-twitter,
.channel .channel-list:focus a.icon-twitter{background-image:url(/images/p/icon-twitter-on.png)}
.channel .channel-list li.on a.icon-google,
.channel .channel-list li:hover a.icon-google,
.channel .channel-list li:active a.icon-google,
.channel .channel-list li:focus a.icon-google{background-image:url(/images/p/icon-google-on.png)}
.channel .channel-list li.on a.icon-naver,
.channel .channel-list li:hover a.icon-naver,
.channel .channel-list li:active a.icon-naver,
.channel .channel-list li:focus a.icon-naver{background-image:url(/images/p/icon-naver-on.png)}
.channel .channel-list li.on a .icon-kakao,
.channel .channel-list li:hover a.icon-kakao,
.channel .channel-list li:active a.icon-kakao,
.channel .channel-list li:focus.icon-kakao{background-image:url(/images/p/icon-kakao-on.png)}
.channel .channel-list li.on a.icon-weibo,
.channel .channel-list li:hover a.icon-weibo,
.channel .channel-list li:active a.icon-weibo,
.channel .channel-list li:focus a.icon-weibo{background-image:url(/images/p/icon-weibo-on.png)}
/* **************** 태블릿용 CSS ***************** */
/* *******************************************  */
@media all and (min-width:768px){

/* 메인 콘텐츠 */
/* 슬라이드 영역 CSS*/
#slide{height:320px; overflow:hidden;margin-top:71px;}
.bx-viewport{height:320px;overflow:hidden;}
.bx-wrapper{overflow:hidden;margin-bottom:0;height:320px; }
.bx-viewport, .bx-wrapper img{height:320px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{z-index:100;bottom:4rem}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{z-index:100;bottom:4rem;}
.bx-wrapper .bx-caption span{font-size: 2rem;bottom: 9.5rem;line-height:2.5rem;text-shadow: 2px 2px rgba(0,0,0,0.5);}
.btn-slide{bottom:5rem;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager,
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
{bottom:3rem}
/* 메인 뉴스 영역*/
.multimedia-wrap{max-height:400px;}
.wrap-ratio .cont-area{height:540px;}
.wrap-ratio .channel .title{background:none;}
.wrap-ratio .channel{padding-right:1rem}
.channel .channel-list li{border-top: 1px solid #fff;
border-bottom: 1px solid #fff;}
.channel .channel-list li,
.wrap-ratio .faq-list li{box-sizing:border-box;float:none;margin:0;padding:1rem; width:100%;text-align:left;}
.channel .channel-list li a{padding-left:20px;}
.wrap-ratio .faq-list li a{font-size:14px;}
.channel .channel-list li.on, 
.channel .channel-list li:hover{border-top:1px solid #000;border-bottom:1px solid #000;} 
.channel .channel-list li a,
.wrap-ratio .faq-list li a{display:block;text-indent:inherit;}
.channel .channel-list li a.icon-facebook,
.channel .channel-list li a.icon-twitter,
.channel .channel-list li a.icon-google,
.channel .channel-list li a.icon-naver,
.channel .channel-list li a.icon-kakao,
.channel .channel-list li a.icon-weibo{background-position:left center}
#wrap #partnership ul li{margin-left:11.5rem;}
}
/* ********************** PC용 CSS ********************* */
/* **************************************************** */
@media all and (min-width:1240px){
/* 슬라이드 영역 CSS*/
#slide{height:500px; overflow:hidden;}
.bx-viewport{height:500px;overflow:hidden;}
.bx-wrapper{overflow:hidden;margin-bottom:0;height:500px; }
.bx-viewport, .bx-wrapper img{height:500px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto{z-index:100;bottom:4rem}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{z-index:100;bottom:4rem;}
.bx-wrapper .bx-caption span{font-size: 3rem;bottom: 15rem;line-height:4rem;}
.btn-slide{bottom:8rem;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager,
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto
{bottom:4rem}
/* 메인 콘텐츠 리스트 영역 CSS */
#wrap #partnership {background:#f3f5f7 url(/images/p/bg-partnership.png) center center no-repeat;}
.wrap-ratio .cont-area{height:640px;}
.wrap-ratio .cont-area .match.ratio-2-1-2{height:575px;}
.wrap-ratio .cont-area .match.ratio-2-1-2, .wrap-ratio .cont-area .channel.ratio-2-1-1{width:47.5%;}
.multimedia-wrap{height:500px;}
}
/* ******************** PC WIDE용 CSS ****************** */
/* **************************************************** */
@media all and (min-width:1920px){
.bx-wrapper .bx-caption span{bottom: 11rem;}
.bx-wrapper .bx-caption span{bottom:15rem;}
.btn-slide{bottom:8rem;}
/* 메인 콘텐츠 리스트 영역 CSS */

.wrap-ratio .cont-area{height:666px;}
}