<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AdminMapper"> <!--  네임 스페이스 중복되면 안됨 -->
<resultMap id="AdminMap" type="Admin">
    <id column="admin_id" property="adminId" />
    <result column="admin_password" property="adminPassword"/>
    <result column="admin_nickname" property="adminNickName"/>
    <result column="admin_status_flag" property="adminStatusFlag"/>
    <result column="admin_sign_date" property="adminSignDate"/>
  </resultMap>
<insert id="insert" parameterType="Admin">
	INSERT INTO Admin_user VALUES (#{adminId}, #{adminPassword}, #{adminNickName}, #{adminStatusFlag})
</insert>
<select id="selectById" resultMap="AdminMap" parameterType="string">
	SELECT * FROM Admin_user WHERE admin_id= #{adminId}
</select>
 <select id="selectByName" resultMap="AdminMap" parameterType="string">
	SELECT * FROM Admin_user WHERE admin_nickname LIKE '%${value}%'
</select>
 <select id="selectAll" resultMap="AdminMap">
</select>
<update id="update" parameterType="Admin">
    update Admin_user set admin_password = #{adminPassword}
    where admin_id = #{adminId}
</update>
<update id="leave" parameterType="Admin">
    update Admin_user set admin_status_flag = 'L' 
    where admin_id = #{adminId}
</update>
<update id="stop" parameterType="Admin">
    update Admin_user set admin_status_flag = 'S' 
    where admin_id = #{adminId}
</update>
</mapper>