<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentMapper">
  <resultMap id="CommentMap" type="Comment">
    <id column="content_id" property="contentId" />
    <id column="comment_id" property="commentId" />
    <result column="comment_content" property="commentContent"/>
    <result column="comment_date" property="commentDate"/>
    <association property="user" javaType="User">
      <id column="user_id" property="userId"/>
      <result column="user_nick_name" property="userNickName"/>
    </association>
  </resultMap>
  <insert id="insertComment" parameterType="Comment">
    INSERT INTO comment VALUES(#{contentId}, #{commentId}, #{user.getUserId()}, #{commentContent}, #{commentDate})
  </insert>

  <select id="selectById" parameterType="int" resultMap="CommentMap">
	SELECT comment.content_id content_id, comment_id, comment_content, comment_date, comment.user_id user_id, user_nick_name
	FROM comment JOIN content ON comment.content_id = content.content_id
	JOIN user ON comment.user_id = user.user_id
	WHERE content.content_id = #{contentId}
  </select>
</mapper>