<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentMapper">
  <insert id="insertContent" parameterType="Content">
    INSERT INTO Content VALUES('', #{userId}, #{contentSubject}, #{content}, SYSDATE(), 'F', 'F', 0, #{adId}, 0)
  </insert>

</mapper>