<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ContentDetailMapper">
  <resultMap id="ContentDetailMap" type="ContentDetail">
    <id column="content_detail_id" property="contentDetailId" />
    <result column="content_id" property="contentId"/>
    <result column="detail_content" property="detailContent"/>
    <association property="photo" javaType="Photo">
      <id column="content_detail_id" property="contentDetailId"/>
      <id column="photo_file_name" property="photoFileName"/>
      <result column="photo_date" property="photoDate"/>
      <result column="photo_latitude" property="photoLatitude"/>
      <result column="photo_longitude" property="photoLongitude"/>
      <result column="photo_top_flag" property="photoTopFlag"/>
    </association>
  </resultMap>

  <insert id="insertDetail" parameterType="ContentDetail">
    INSERT INTO content_detail VALUES(#{contentId}, #{contentDetailId}, #{detailContent})
  </insert>

  <select id="selectById" parameterType="int" resultMap="ContentDetailMap">
	SELECT content_detail.content_detail_id content_detail_id, detail_content, photo_file_name, photo_date, photo_latitude, photo_longitude, photo_top_flag
	FROM content_detail JOIN content ON content_detail.content_id = content.content_id
	JOIN photo ON content_detail.content_detail_id = photo.content_detail_id
	WHERE content.content_id = #{contentId}
  </select>
   
</mapper>